.media-object {
  max-width: none;
}

.intro-header.big-img {
  background: no-repeat top center;
}

.caption {
  font-style: normal;
  text-align: left;
}

.admonition-tip {
  background-color: #212121;
} 