.media-object {
  max-width: none;
}

.intro-header.big-img {
  background: no-repeat top center;
}

.caption {
  font-style: normal;
  text-align: left;
}

blockquote.admonition-tip {
  background-color: #ffff99;
  font-style: normal;
}

blockquote.admonition-tip h1 {
  position: absolute;
  left:20px; 
} 

blockquote.admonition-tip h1::before {
  content: url("./icons/fire-flame-curved-solid.svg");
  position: absolute;
  width: 10px;
  height: 10px;
} 