---
layout: page
title: agile dojo
subtitle: Productivity Practices for Development Teams
bigimg: /assets/agile_dojo_banner.png
pagination:
  enabled: true
---

<div class="main-explain-area jumbotron">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/9rtPU5UiBrI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>

<div class="main-explain-area jumbotron">
  <h2>Neueste Events</h2>
  <ul class="fa-ul">
  {% assign events = site.events | sort: 'event_date' | reverse %}
  {% for event in events limit: 3 %}
    {% if event.event_type == "training" %}
      {% assign icon = 'fa-graduation-cap' %}
    {% else %}
      {% assign icon = 'fa-television' %}
    {% endif %}

    <li>
      <i class="fa-li fa {{ icon }}"></i>
      <b>{{ event.event_date | date: "%d.%m.%y" }}</b>
      <i><a href="{{ event.url }}">{{ event.title }}</a></i>,
      {{ event.event_name }}
    </li>
  {% endfor %}
  </ul>
  <a href="{{ site.baseurl }}{% link events.md %}">[mehr]</a>
</div>

<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>

	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}
    </a>

    <p class="post-meta">
      <i class="fa fa-clock-o"></i> {{ post.date | date: "%B %-d, %Y" }}
      {% if site.disqus %}
        <script id="dsq-count-scr" src="//{{ site.disqus }}.disqus.com/count.js" async></script>
      {% endif %}
    </p>

    <div class="post-entry">
      {{ post.excerpt}}
      {% unless post.no_read_more %}
	  <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
      {% endunless %}
    </div>

   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
